@import "../../../main.scss";

.theme-button {
  position: relative;
  font-family: 'Permanent Marker', sans-serif;
  font-size: 15px;
  color: black;
  // background-color: blue;
  cursor: pointer;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80%;
    height: 2px;
    background-color: #fc2f70;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }

  &:hover::after {
    transform: translateX(-50%) scaleX(1);
  }

  .switch-theme {
    @include flex(start, center);
    height: 100%;
    position: absolute;
    left: 100%;
    gap: 10px;
    opacity: 0;
    transform: translateX(sans-serif);
    transition: opacity 1.5s ease;
    visibility: hidden;
    background-color: #fd89d6;

    &.visible {
      opacity: 1;
      visibility: visible;
    }
  }
}